#start-button {
  background-color: #ba300a; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  align-self: center;
  font-size: 16px;
}

#start-button:hover {
  background-color: rgb(57, 218, 43);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}

#game-over {
  display: none;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#game-over img {
  width: 700px;
  height: 450px;
}

#restart-button {
  background-color: #ba300a; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#restart-button:hover {
  background-color: rgb(57, 218, 43);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}
